<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.ghostpractice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/logo_114"
        android:label="GPMobile"
        android:theme="@style/Theme.AppCompat.Light"  >
        <activity
            android:name=".ProvisioningActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MatterDetailsActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
        <activity
            android:name=".PostFeeActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
        <activity
            android:name=".PostNoteActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
        <activity
            android:name=".ReportPager"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>

        <activity
            android:name=".ReportControllerActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
        <activity
            android:name="com.boha.ghostlibrary.FeeEarnerListActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
        <activity
            android:name="com.boha.ghostlibrary.TaskActivity"
            android:parentActivityName=".MatterSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MatterSearchActivity" />
        </activity>
    </application>

</manifest>