<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.boha.malengagolf.CloudBackEnd.RegistrationEndpoint, com.boha.malengagolf.CloudBackEnd.MessagingEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GolfAdminServlet</servlet-name>
        <servlet-class>com.boha.golfkids.servlet.GolfAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GolfAdminServlet</servlet-name>
        <url-pattern>/golf</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>